<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @user.middle %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @user.pregnancy %>
</p>

<p>
  <strong>Register:</strong>
  <%= @user.register %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
